.body {
    width: 1100px;
    position: absolute; 
    box-sizing: border-box; 
    padding: 50px 50px;
        
    background: #C4C4C4
    
    
}

div.container1 {
    position: relative;
    width: 1000px;    
    box-sizing: border-box;     
    background: #E6E6E6   
}

.clear {
    clear: both;
}

.kvadro1 {
    position: relative;   
    width: 200px;
    height: 200px;    
    float: left;    
    background: #FC8F8F;
     
}

.kvadro2.textbig {
    position: relative;   
    width: 200px;
    height: 200px;    
    float: right;    
    background: #FC8F8F;  
}

.kvadro2.textbig.margin {
    position: relative;   
    width: 200px;
    height: 200px;    
    float: left;    
    background: #FC8F8F;  
}



div.kvadro2 {
    float: left;
}

.kvadro3 {
    position: relative;   
    width: 100px;
    height: 100px;
    margin-left: 15px;
    float: left; 
    background: #FC8F8F;
}

.textbig {          
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
        
     /* identical to box height */    
    text-align: center;    
    color: #FFFFFF;
}

.textlitle {       
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;    
    color: #FFFFFF;
}

.container2 {
    position: relative;
    width: 1000px;    
    box-sizing: border-box;       
    background: #E6E6E6;
    margin-top: 50px;   
}

div.kvadro1 div.kvadro2 div.kvadro3 p {
    margin: 0;    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.container3 {
    position: relative;
    width: 1000px;    
    box-sizing: border-box;     
    background: #E6E6E6;
    margin-top: 50px;
}

.margin {
    margin-left: 15px;
}

.blockvadro3 {
    float: right;
}